In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
import pandas as pd
import numpy as np

# 1. Load CSV

In [5]:
data = pd.read_csv("data/data.csv")

data.head()

            uid                ttime  energy
0  jungang_I_dc  2017-01-01 00:00:00   60500
1  jungang_I_dc  2017-01-01 00:15:00   63250
2  jungang_I_dc  2017-01-01 00:30:00   59000
3  jungang_I_dc  2017-01-01 00:45:00   57500
4  jungang_I_dc  2017-01-01 01:00:00   58250

# 2. Data Preprocessing (데이터 전처리)